.cart {
  &-title {
    font-size: 1.2rem;
    font-weight: var(--font-bold);
    color: var(--color-brand-primary);

    :is(.phone, .tablet) & {
      font-size: 1.5rem;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-s) 0;
    border-bottom: 1px solid var(--color-neutral-2);
    font-size: var(--font-size-label);

    :is(.phone, .tablet) & {
      font-size: inherit;
    }

    &--popup {
      justify-content: flex-start; // Agrupa imagem e info à esquerda
      gap: 0; // O espaço será controlado pelas margens internas
      border-bottom: 1px solid var(--color-neutral-2);

      // No popup, queremos que o preço total vá para o fim da linha
      .cart-item__total-price {
        margin-left: auto;
        font-size: var(--font-size-s);
        color: var(--color-brand-dark); // Cor mais escura como no design
      }

      // Ajuste de margem para separar a info da imagem
      .cart-item__info {
        margin-left: 0;
        display: flex;
        flex-direction: row;
      }
    }

    &__infopopup{
    display: flex;
    flex-direction: column;
    }

    // Thumbnail for the Popup version
    &__thumbnail {
      width: 42px;
      height: 42px;
      border-radius: var(--border-radius-soft);
      object-fit: cover;
      margin-right: var(--space-base);
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
      flex-grow: 1; // Allow info to take up remaining space
      min-width: 0; // Ensure it can shrink properly in the popup
    }

    &__name {
      font-weight: var(--font-bold);
      color: var(--color-brand-dark);
      font-size: inherit;
      // Ensure text doesn't overflow
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__details {
      display: flex;
      gap: var(--space-s);
      font-size: inherit;
      align-items: center;
    }

    &__quantity {
      color: var(--color-brand-primary);
      font-weight: var(--font-bold);
      margin-right: var(--space-xs);
    }

    &__unit-price {
      color: var(--color-neutral-6);
    }

    &__total-price {
      color: var(--color-neutral-8);
      font-weight: var(--font-bold);
    }
  }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;

    &__label {
      font-size: var(--font-size-xs);
      color: var(--color-brand-dark);

      :is(.phone, .tablet) & {
        font-size: inherit;
      }
    }

    &__value {
      font-size: 1.3rem;
      font-weight: var(--font-bold);
      color: var(--color-brand-dark);

      :is(.phone, .tablet) & {
        font-size: 1.5rem;
      }
    }
  }
}
