.product {
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;

    :is(.phone, .tablet) & {
      max-width: 400px;
    }
  }
  &-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    border: 2px solid transparent;

    :is(.phone, .tablet) & {
      aspect-ratio: 3/2;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__quantity {
    font-size: var(--font-size-xs);
    font-weight: bold;
    color: var(--color-neutral-0);
    align-content: center;
  }

  &__category {
    font-size: inherit;
    color: var(--color-neutral-6);
  }

  &__name {
    font-weight: var(--font-bold);
    color: var(--color-brand-dark-alt);
    font-size: inherit;
  }

  &__price {
    font-weight: var(--font-bold);
    color: var(--color-brand-primary);
    font-size: inherit;
  }

  &__detailswrapper {
    transform: translateY(-15px);
    font-size: var(--font-size-xs);
    width: 100%;
    text-align: left;
    padding: 0 4px;

    :is(.phone, .tablet) & {
      font-size: var(--font-size-base);
      margin-top: 10px;
    }
  }
}

.border-selected {
  /* Borda vermelha em redor dos produtos selecionados*/
  border: 2px solid var(--color-brand-primary);
}
