.product {
  &-card {
    width: 100%;
    max-width: 250px;
  }
  &-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    border: 2px solid transparent;
  }

  &__quantity {
    font-size: var(--font-size-xs);
    font-weight: bold;
    color: var(--color-neutral-0);
    align-content: center;
  }

  &__category {
    font-size: var(--font-size-label);
    color: var(--color-neutral-7);
  }

  &__name {
    font-weight: var(--font-bold);
    color: #463528;
    font-size: var(--font-size-xs);
  }

  &__price {
    font-weight: var(--font-bold);
    color: var(--color-primary);
    font-size: var(--font-size-xs);
  }

  &__detailswrapper {
    transform: translateY(-15px);
  }
}

.border-selected {
  /* Borda vermelha em redor dos produtos selecionados*/
  border: 2px solid var(--color-primary);
}
