/* Aplicação Global */
body, html, .os-internal-ui {
    font-family: var(--font-family-base);
}

/* Garante que os títulos também usam a fonte */
h1, h2, h3, h4, h5, h6, .content-top-title, .popup-title-confirmation {
    font-family: var(--font-family-heading);
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/ProductListwithPersistentCart/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/ProductListwithPersistentCart/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

