:root {
  // Title colors
  --title-color: #403123;
  --subtitle-color: #a89b97;

  // Background colors
  --color-background: #fcf8f5;
  // Primary color
  --color-primary: #c63b0c;

  // Button colors
  --button-main-color: #c63b0c;
  --button-main-color-border: #bf3f12;
}
