:root {

  /* Fonts */
  --font-family-base: "Red Hat Text", sans-serif;
  --font-family-heading: "Red Hat Text", sans-serif;

  /* Brand colors */
  --color-brand-primary: #c63b0c;
  --color-brand-primary-darker: #bf3f12;
  --color-brand-primary-hover: #962c09;

  --color-brand-dark: #403123;      
  --color-brand-dark-alt: #463528;  
  --color-brand-neutral-soft: #a89b97;
  --color-brand-bg: #fcf8f5;   
  
  /* Outsystems variables mapping */
  --color-primary: var(--color-brand-primary);
  --color-background: var(--color-brand-bg);

  /* Title colors */
  --title-color: var(--color-brand-dark);
  --subtitle-color: var(--color-brand-neutral-soft);

  /* Button colors */
  --button-main-color: var(--color-brand-primary);
  --button-main-color-border: var(--color-brand-primary-darker);

  /* Border Radius Custom */
  --border-radius-medium: 8px;   /* Images and boxes */
  --border-radius-large: 10px;    /* Sidebar */

  /* Icon sizes based on OutSystems variables */
    --icon-size-s:  var(--space-s);   /* 8px */
    --icon-size-m:  var(--space-m);   /* 16px */
    --icon-size-l:  var(--space-l);   /* 24px */
    --icon-size-xl: var(--space-xl);  /* 32px */
    --icon-size-xxl: var(--space-xxl); /* 48px */
}
