@charset "UTF-8";
:root {
  --title-color: #403123;
  --subtitle-color: #a89b97;
  --color-background: #fcf8f5;
  --color-primary: #c63b0c;
  --button-main-color: #c63b0c;
  --button-main-color-border: #bf3f12;
}

.btn, .btn__confirm {
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.btn.btn-primary, .btn-primary.btn__confirm {
  width: 100%;
  background-color: var(--button-main-color);
  border: var(--button-main-color-border) 1px solid;
  color: var(--color-neutral-0);
}
.btn.btn__addtocart, .btn__addtocart.btn__confirm {
  width: 140px;
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-10);
  border: var(--color-neutral-6) 1px solid;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  justify-self: center;
  font-size: var(--font-size-xs);
}
.btn.btn__addtocart span, .btn__addtocart.btn__confirm span {
  color: var(--color-neutral-10);
  font-size: var(--font-size-xs);
}
.btn.btn__addtocart img, .btn__addtocart.btn__confirm img {
  width: 20px;
  height: 20px;
}
.btn__remove {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-neutral-5);
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.btn__remove img {
  width: 8px;
  height: 8px;
  filter: grayscale(1);
}
.btn__remove:hover {
  border-color: var(--title-color);
}
.btn__remove:hover img {
  filter: none;
}
.btn__confirm {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
  padding: 15px;
  font-weight: var(--font-bold);
  font-size: var(--font-size-xs);
  border: none;
}
.btn__confirm:hover {
  background-color: rgb(149.9142857143, 44.6714285714, 9.0857142857);
}

/* 2. The Quantity Component  */
.container-addtocart {
  width: 140px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  transform: translateY(-20px);
  justify-self: center;
  /* Plus/Minus Buttons */
}
.container-addtocart .btn-qty {
  width: 18px;
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-0);
  background: transparent;
  color: var(--color-neutral-0);
  font-size: var(--font-size-h6);
  padding: 0 0 4px 1px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-addtocart .btn-qty[id*=Minus] {
  padding-bottom: 3px;
}
.container-addtocart .product__quantity {
  color: var(--color-neutral-0);
  font-weight: bold;
  font-size: var(--font-size-xs);
}

:root {
  --font-family-base: "Red Hat Text", sans-serif;
  --font-family-heading: "Red Hat Text", sans-serif;
}

body {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
.product-card {
  width: 100%;
  max-width: 250px;
}
.product-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  display: block;
  border: 2px solid transparent;
}
.product__quantity {
  font-size: var(--font-size-xs);
  font-weight: bold;
  color: var(--color-neutral-0);
  align-content: center;
}
.product__category {
  font-size: var(--font-size-label);
  color: var(--color-neutral-6);
}
.product__name {
  font-weight: var(--font-bold);
  color: #463528;
  font-size: var(--font-size-xs);
}
.product__price {
  font-weight: var(--font-bold);
  color: var(--color-primary);
  font-size: var(--font-size-xs);
}
.product__detailswrapper {
  transform: translateY(-15px);
}

.border-selected {
  /* Borda vermelha em redor dos produtos selecionados*/
  border: 2px solid var(--color-primary);
}

.product-grid {
  display: grid;
  gap: 14px; /* Espaço entre os produtos */
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
}
.tablet .product-grid, .phone .product-grid {
  grid-template-columns: 1fr;
}

.sidebar__wrapper {
  background-color: var(--color-neutral-0);
  transform: translateY(-40px);
  border-radius: 10px;
  padding: var(--space-base);
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}
.sidebar__empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-base) 0;
}
.sidebar__empty-state img {
  width: 120px;
  margin-bottom: 15px;
}
.sidebar__empty-state p {
  color: var(--color-neutral-7);
  font-size: var(--font-size-xs);
  font-weight: var(--font-bold);
}
.sidebar__delivery-note {
  background-color: var(--color-background);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: var(--font-size-xs);
}
.sidebar__delivery-note span {
  font-weight: var(--font-bold);
}
.sidebar__delivery-note img {
  width: 20px;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
  color: var(--color-primary);
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) 0;
  border-bottom: 1px solid var(--color-neutral-2);
}
.cart-item__thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}
.cart-item__name {
  font-weight: var(--font-bold);
  color: var(--title-color);
  font-size: var(--font-size-xs);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.cart-item__details {
  display: flex;
  gap: 12px;
  font-size: var(--font-size-xs);
  align-items: center;
}
.cart-item__quantity {
  color: var(--color-primary);
  font-weight: var(--font-bold);
}
.cart-item__unit-price {
  color: var(--color-neutral-6);
}
.cart-item__total-price {
  color: var(--color-neutral-8);
  font-weight: var(--font-bold);
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.cart-total__label {
  font-size: var(--font-size-xs);
  color: var(--title-color);
}
.cart-total__value {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.order-confirmed {
  text-align: left;
}
.order-confirmed__header {
  margin-bottom: 32px;
}
.order-confirmed__header .icon-success {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.order-confirmed__header h2 {
  color: var(--title-color);
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 8px;
}
.order-confirmed__header p {
  color: var(--color-neutral-7);
  font-size: var(--font-size-xs);
}
.order-confirmed__summary-container {
  background-color: var(--color-background);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 32px;
  max-height: 300px;
  overflow-y: auto;
}
.order-confirmed__summary-container .cart-item:last-of-type {
  border-bottom: 1px solid var(--color-neutral-4);
}

.content {
  background-color: var(--color-background);
}
.content-top-title {
  color: var(--title-color);
  margin-bottom: var(--space-base);
  font-size: var(--font-size-h1);
  font-weight: var(--font-bold);
}
.content-middle {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.phone .content-middle, .tablet .content-middle {
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */